<mat-card class="invest-card">
  <div class="container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="item item-main" fxFlex>
      <div class="container"
           fxLayout
           fxLayout.xs="column"
           fxLayoutAlign="center"
           fxLayoutGap="10px"
           fxLayoutGap.xs="0">
        <div class="item item-1" fxFlex>
          <div class="mat-accent" id="portfolio-name">
            {{portfolioData.name}}
          </div> <!--a ng-href="/portfolio/{{portfolio.id}}/overview">{{portfolio.name}}</a-->
          <div>
            <span class="secondary-text">{{portfolioData.marketValue}}
              (<div *ngIf="portfolioData.cash != 0; else no_cash">{{portfolioData.cash}}</div>)</span>
                <span style="align-items: center">
              {{portfolioData.lastChangeAbs}}&nbsp;
              <i *ngIf="portfolioData.lastChangePct > 0" class="material-icons md-18">trending_up</i>
              <i *ngIf="portfolioData.lastChangePct < 0" class="material-icons md-18">trending_down</i>&nbsp;{{portfolioData.lastChangePct}}%
            </span>
          </div>
        </div>
        <div class="item item-2" fxFlex>
          <div>
            <div><strong>Strategy:&nbsp;</strong>Backhand flash</div> <!-- not supported by backend yet -->
            <div><strong>Use It As:&nbsp;</strong>Better to not use</div> <!-- not supported by backend yet -->
          </div>
        </div>
        <div *ngIf="portfolioData.positions != null" class="item item-3" fxFlex>
          <ngx-charts-bar-vertical
            [view]=""
            [scheme]="colorScheme"
            [results]="chartData"
            [gradient]="gradient"
            [xAxis]="false"
            [yAxis]="false"
            [legend]="false"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]=""
            [yAxisLabel]=""
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>
      <div *ngIf="portfolioData.description != null" class="container"
           fxLayout
           fxLayout.xs="column"
           fxLayoutAlign="center"
           fxLayoutGap="10px"
           fxLayoutGap.xs="0">
        <div class="item item-5" fxFlex>
          <div style="display: inline-block">{{portfolioData.description | slice:0:limit}}</div>
          <div style="display: inline-block" *ngIf="portfolioData.description.length > descriptionLimit">
            ...
            <a [hidden]="portfolioData.description.length < limit"
               (click)="descShowMore()"> More
            </a>
            <a [hidden]="!descMoreShown"
               (click)="descShowLess()"> Less
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="item item-edit" fxFlex>
      <div>
        <button>
          <!--a href="/portfolio/{{portfolio.id}}/overview" /-->
          <span matTooltip="View" matTooltipPosition="above">
            <mat-icon><i class="material-icons">visibility</i></mat-icon>
          </span>
        </button>
        <button (click)="managePortfolioUpdateOperation(portfolioData.id)">
          <span matTooltip="Edit" matTooltipPosition="above">
            <mat-icon><i class="material-icons">mode_edit</i></mat-icon>
          </span>
        </button>
        <button (click)="managePortfolioCloneOperation(portfolioData.id)">
          <span matTooltip="Copy" matTooltipPosition="above">
            <mat-icon><i class="material-icons">content_copy</i></mat-icon>
          </span>
        </button>
        <button (click)="managePortfolioRemoveOperation(portfolioData.id)">
          <span matTooltip="Remove" matTooltipPosition="above">
            <mat-icon><i class="material-icons">delete</i></mat-icon>
          </span>
        </button>
      </div>
    </div>
  </div>
</mat-card>

<ng-template #no_cash>NO CASH</ng-template>
