.invest-card {
  border-left: 15px;
  border-right: 15px;
}

.mat-accent {
  color: #039be5;
}

#portfolio-name {
  font-size: 24px;
}

.item-main {
  height: 80px;
}

.item-edit {
  width:auto;
  max-width:200px;
}
