.mat-column-symbol {
    flex: 0 0 7%;
}

.mat-column-quantity {
    flex: 0 0 7%;
}

.mat-column-price {
    flex: 0 0 7%;
}

.mat-column-priceLast20Days {
    padding-right: 3%;
}

.mat-column-value {
    flex: 0 0 10%;
}

.mat-column-lastChange {
    flex: 0 0 10%;
}

.mat-column-buttons {
    flex: 0 0 7%;
}

