<fuse-widget class="widget" fxLayout="row" fxFlex="100">

    <!-- Front -->
    <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
  
        <div class="simple-table-container" ms-responsive-table>
  
            <table class="simple">
  
                <thead>
                    <tr>
                        <th *ngFor="let column of portfolioTableColumns">
                            {{column}}
                        </th>
                    </tr>
                </thead>
  
                <tbody>
                    <tr *ngFor="let position of positions; let i = index">
                        <td>{{position.symbol}}</td>
                        <td>{{position.name}}</td>
                        <td>{{position.quantity}}</td>
                        <td>{{position.price}}</td>
                        <td> 
                            <invest-portfolio-detail-position-chart [inputChartData]="position.priceLast20Days"  style="max-height: 40px!important;" ></invest-portfolio-detail-position-chart>
                        </td>
                        <td>{{position.value}} </td>
                        <td>{{position.lastChange}} </td>
                        <td>
                            <div fxLayout="row">
                                <div class="item item-edit">
                                    <a href="" matTooltip="Add">
                                        <i class="material-icons md-24">add</i>
                                    </a>
                                </div>
                                <div class="item item-edit">
                                    <a href="" matTooltip="Remove">
                                        <i class="material-icons md-24">remove</i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
  
    </div>
  </fuse-widget>
  
  
  
  