.red {
  color: #f20000;
}

.green {
  color: #478c00;
}

.chart-container {
  position: relative;
  height: 250px;
  width: 100%;
}
.percentage-component {
  position: absolute;
  top: 46px;
  left: 44%;
  z-index: 10;
  font-size: 22px;
}

.tooltip-value {
  font-size: large;
}

.tooltip-name {
  font-size: medium;
}

.clickable-div-component {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 28%;
  height: 100%;
  z-index: 10;
  font-size: 22px;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  .percentage-component {
    left: 51%;
  }
  .clickable-div-component {
    width: 19%;
  }
}
