.red {
  color: #f20000;
}

.green {
  color: #478c00;
}

.chart-container {
  position: relative;
  height: 250px;
  width: 700px;
}
.percentage-component {
  position: absolute;
  top: 46px;
  left: 310px;
  z-index: 10;
  font-size: 22px;
}
