.center-chart {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.center-title {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 0px;
}