div#values {
  display: inline-block;
  width: 100%;
}

div#market-value-parent {
  width: 50%;
  float: left;
}
div#market-value {
  float: right;
  padding-right: 10px;
}

div#period-value-parent {
  width: 50%;
  float: left;
}

div#period-value {
  overflow: hidden;
  float: left;
  padding-left: 10px;
}

div#period-selector {
  padding-top: 0.5em;
  display: block;
  align-content: center;
}

div.legend-box {
  display: inline-block;
  margin-left: 0.4em;
  margin-right: 0.4em;
  color: #9b9b9b;
  font-size: large;

  cursor: pointer;
}

div.legend-box.isDisplayed  {
  color: black;
  border-bottom: solid;

}

div.legend-box:hover {
  color: black;
}

td#period-value-percentage {
  padding-left: 0.2em;
  font-size: large;
}

.center {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

td.value {
  font-size: x-large;
  font-weight: bold;
}

p {
  margin: 0;
}

.red {
  color: #f20000;
}

.green {
  color: #478c00;

}
