@import 'src/app/core/scss/fuse';

:host {
  .center {
    margin: 0 auto;
    text-align: center;
  }

  .flex-center-vertically {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
  }

  .pt-100 {
    padding-top: 100px;
  }
}
