<ngx-charts-line-chart *ngIf="dataEmpty === false"
  [scheme]="colorScheme"
  [results]="tmpChartData"
  [gradient]="gradient"
  [showGridLines]="showGridLines"
  [timeline]="timeline"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [autoScale]="autoScale"
  (select)="onSelect($event)">
</ngx-charts-line-chart>
<div class="img-parent">
  <mat-spinner class="img-child" *ngIf="dataEmpty === undefined"></mat-spinner>
  <img *ngIf="dataEmpty === true" class="img-child" src="assets/images/no-data.png" alt="No data available">
</div>

