<div class="page-layout blank p-24" fusePerfectScrollbar>
  <!-- Portfolio summary : Cumulative chart widget -->
  <!--<fuse-widget class="" fxLayout="row" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">-->

    <!--&lt;!&ndash; Front &ndash;&gt;-->
    <!--<div class="fuse-widget-front mat-white-bg mat-elevation-z2">-->
      <!--<div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">-->
        <!--<div fxLayoutAlign="center center">-->
          <!--<h2>Portfolios Summary</h2>-->
        <!--</div>-->

        <!--<button fuseWidgetToggle aria-label="more">-->
          <!--&lt;!&ndash;<mat-icon>more_vert</mat-icon>&ndash;&gt;-->
        <!--</button>-->
      <!--</div>-->

      <!--<div class="pt-8 pb-32" fxLayout="row" fxLayoutAlign="center center">-->
        <!--Cumulative Graph-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; Front &ndash;&gt;-->
  <!--</fuse-widget>-->

  <!-- WIDGET 5 -->
  <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">

    <!-- Front -->
    <div class="fuse-widget-front md-white-bg mat-elevation-z2">

      <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
        <app-line-chart></app-line-chart>
      </div>
    </div>
    <!-- / Front -->

  </fuse-widget>
  <!-- / WIDGET 5 -->



</div>
