<fuse-widget class="widget" fxLayout="row" fxFlex="100">

  <!-- Front -->
  <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

      <div class="simple-table-container" ms-responsive-table>

          <table class="simple">

              <thead>
                  <tr>
                      <th *ngFor="let column of portfolioTableColumns">
                          {{column}}
                      </th>
                  </tr>
              </thead>

              <tbody>
                  <ng-container *ngFor="let position of positions; let i = index">
                      <tr *ngFor="let trade of position.trades">
                        <td>{{position.symbol}}</td>
                        <td *ngIf="trade.amount >= 0">Buy</td>
                        <td *ngIf="trade.amount < 0">Sell</td>
                        <td>{{trade.dateTime | date:'yyyy-MM-dd H:mm:ss' }}</td>
                        <td>{{trade.amount | number}}</td>
                        <td>{{trade.price | number}}</td>
                        <td>
                            <div fxLayout="row">
                                <div class="item item-edit">
                                    <button matTooltip="Edit">
                                        <i class="material-icons md-24">mode_edit</i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
              </tbody>
          </table>
      </div>

  </div>
</fuse-widget>
