<div class="row" fxLayout="row" fxFlex="100" fxFill="100" *ngIf="dashboardPortfolioList$">
    <div  class="col-xs-6 col-md-6 col-sm-6 col-lg-6" fxFlex="50" sytle="height: 800px; padding-top: 20px!important; padding-bottom: 20px;">
      <invest-horizontal-bar-chart [portfolioDetailsList]="dashboardPortfolioList$ | async"></invest-horizontal-bar-chart>
    </div>
    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6" fxFlex="50">
      <invest-app-portfolio-overview *ngFor="let portfolio of dashboardPortfolioList$ | async" [portfolioDetails]="portfolio" ></invest-app-portfolio-overview>
    </div>
</div>
