.help-icon-parent {
  width: 100%;
  position: absolute;
  right: 0px;
  z-index: 99999;
  padding-right: 50px;
  padding-top: 20px;
}

.help-icon-child {
  float: right;
}

.help-icon-self {
  color: #3f51b5;
}
